<style>
    table tr td {
        font-size: 11px;
    }

    iframe {
        border: none;
        width: 70%;
        height: 70%;
    }

    .row.preview .input-field {
        float: left;
        margin-left: 9px;
    }

    #fator img {
        display: block;
        margin: auto;
    }

    #fator p {
        text-align:center;
    }

    .aterro
    {
        background-color:#9acd32
    }
</style>

<div class="section">

    <div class="row">
        <div class="col s12 m12">
            <div class="card-panel ng-scope">
                <h4 class="header2">Configuração</h4>
                <div class="row" ng-hide="nopacess" aria-hidden="false">
                    <form class="col s12 ng-valid ng-valid-br-phone-number ng-dirty ng-valid-parse" id="sign-up-form">
                        <div class="row">
                            <div class="input-field col s4 m4">
                                <label class="active" for="aterro">Aterro</label>
                                <select class="browser-default active ng-pristine ng-valid ng-not-empty ng-valid-required ng-touched" id="aterro" required="" ng-model="data.aterro" ng-options="x as x.nome for x in aterros track by x.id" aria-invalid="false"></select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s4 m4">
                                <input type="text" ng-model="data.fatorSeguranca" ui-number-mask="3" class="ng-pristine ng-untouched ng-valid ng-empty ng-valid-br-phone-number" aria-invalid="false" id="fatorseguranca" required>
                                <label ng-class="inputClass" for="fatorseguranca ">Fator de Segurança</label>
                                <a ng-click="showConfigFatorSeguranca()" class="right dropdown-menu cyan-text" title="Configurar Fator de Segurança">
                                    <i class="mdi-action-settings" style="cursor: pointer;"></i>
                                </a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="collection-item dismissable">
                                <div class="input-field col s8 m8">
                                    <input type="checkbox" ng-model="data.exibirMapaHorizontal" id="exibirmapahorizontal" class="ng-untouched ng-valid ng-dirty ng-valid-parse ng-empty" aria-invalid="false">
                                    <label for="exibirmapahorizontal">Exibir Mapa Horizontal</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="collection-item dismissable">
                                <div class="input-field col s8 m8">
                                    <input type="checkbox" ng-model="data.exibirMapaVertical" id="exibirmapavertical" class="ng-untouched ng-valid ng-dirty ng-valid-parse ng-empty" aria-invalid="false">
                                    <label for="exibirmapavertical">Exibir Mapa Vertical</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="collection-item dismissable">
                                <div class="input-field col s8 m8">
                                    <input type="checkbox" ng-model="data.exibirLegenda" id="exibirlegendacriterios" class="ng-untouched ng-valid ng-dirty ng-valid-parse ng-empty" aria-invalid="false">
                                    <label for="exibirlegendacriterios">Exibir Legenda de critérios</label>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="collection-item dismissable">
                                <div class="input-field col s8 m8">
                                    <input type="checkbox" ng-model="data.exibirFatorSeguranca" id="exibirfatorseguranca" class="ng-untouched ng-valid ng-dirty ng-valid-parse ng-empty" aria-invalid="false">
                                    <label for="exibirfatorseguranca">Exibir Fator de Segurança</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="collection-item dismissable">
                                <div class="input-field col s8 m8">
                                    <input type="checkbox" ng-model="data.habilitado" id="habilitado" class="ng-untouched ng-valid ng-dirty ng-valid-parse ng-empty" aria-invalid="false">
                                    <label for="habilitado">Habilitado</label>
                                </div>
                            </div>
                        </div>

                        <div class="row" aria-hidden="false">
                            <div class="input-field col s12 m12">
                                <button type="submit" class="btn cyan waves-effect waves-light right" aria-hidden="false" ng-click="save()">
                                    <span ng-show="!loading" aria-hidden="false">Submeter</span>
                                    <span class="overlord-loading-spinner fa fa-spinner ng-hide" ng-show="loading" aria-hidden="true">
                                    </span>
                                    <span ng-show="loading" aria-hidden="true" class="ng-hide">Aguarde...</span>
                                </button>

                                <button type="button" class="btn cyan waves-effect waves-light right" aria-hidden="false" ng-click="monitoramentos()" style="margin-right:20px">
                                    <span aria-hidden="false">Monitorar</span>
                                </button>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>

        <div id="modalView" class="modal modal-fixed-footer col s12 m12">
            <div class="modal-content col s12 m12">
                <div class="col s12 m12">
                    <div class="card-panel ng-scope">
                        <h4 class="header2">Configuração Fator Segurança</h4>

                        <div class="row" ng-hide="nopacess" aria-hidden="false">
                            <div id="dropify-container">
                                <input type="file" class="dropify" data-height="300" on-read-file="showFile($fileContent)" />
                            </div>

                            <div class="row preview" style="display:none">
                                <div class="input-field col s12 m12">
                                    <canvas id="canvas" width="1465" height="200"></canvas>
                                </div>
                            </div>

                            <div class="row preview" style="display:none;margin-top:10px">
                                <div class="input-field">
                                    <button id="removeimg" type="submit" class="btn cyan waves-effect waves-light right" aria-hidden="false" ng-click="removeImage()">
                                        <span aria-hidden="false" class="">Remover</span>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-hide="nopacess" aria-hidden="false" style="margin-top:20px">
                            <p class="header2">Clique, segure e arraste o fator de segurança abaixo sobre a imagem acima</p>

                            <span id="sfatorseguranca">{{data.fatorSeguranca}}</span>
                            <img id="imgfatorseguranca" src="" title="Clique segure e arraste sobre a imagem acima." class="draggable">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="doismapas" style="display:none">
       
        <div class="col s6 m6 l6 iframe-container">
            <div class="row">
                <p style="text-align:center">
                    Horizontal
                </p>
            </div>

            <iframe src="{{preview.mapaHorizontal}}" class="maph"></iframe>
        </div>

        <div class="col s6 m6 l6 iframe-container">

            <div class="row">
                <p style="text-align:center">
                    Vertical
                </p>
            </div>

            <iframe src="{{preview.mapaVertical}}" class="mapv"></iframe>
        </div>
    </div>

    <div class="row" id="mapahorizontal" style="display:none">
        <div class="col s12 m12 iframe-container">
            <div class="row">
                <p style="text-align:center">
                    Horizontal
                </p>
            </div>

            <iframe src="{{preview.mapaHorizontal}}" class="maph"></iframe>
        </div>

    </div>

    <div class="row" id="mapavertical" style="display:none">
        <div class="col s12 m12 iframe-container">
            <div class="row">
                <p style="text-align:center">
                    Vertical
                </p>
            </div>

            <iframe src="{{preview.mapaVertical}}" class="mapv"></iframe>
        </div>

    </div>

    <div class="row" id="legenda">
        <table>
            <tbody>
                <tr class="alerta-caption">
                    <th></th>
                    </
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr class="alerta-description">
                    <td>Velocidade menor do que 0,25</td>
                    <td>Velocidade menor do que 1</td>
                    <td>Velocidade menor do que 4</td>
                    <td>Velocidade menor do que 14</td>
                    <td>Velocidade maior do que 14</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row" id="fator" style="display:none;margin-top:20px">
        <div class="col s12 m12 l12">
            <p>FATOR SEGURAN&Ccedil;A</p>

            <div class="row">
                <div class="row">
                    <img id="preview" />
                </div>
            </div>
        </div>

    </div>
</div>