<div class="row" ng-init="init()">
  <div id="modalPluviometria" class="modal modal-fixed-footer">
    <div class="modal-content">
      <input id="readfile" type="file" class="dropify" data-height="200"  custom-on-change="loadFile"/>
      <div>
        <h2>Pluviometria processada a partir do arquivo:</h2>
        <table class='striped'>
          <thead>
            <tr>
              <th class='text-center ng-binding ng-scope'>Data</th>
              <th class='text-center ng-binding ng-scope' >Pluviometria</th>
              <th class='text-center ng-binding ng-scope' >Vazao</th>
            </tr>
          </thead>
          
          <tbody>
            <tr ng-repeat='pluviometria in excel' ng-click='ViewItem(datum)' style='cursor:pointer'>
              <th class="ng-scope">{{pluviometria.A}}</th>
              <th class="ng-scope">{{pluviometria.B}}</th>
              <th class="ng-scope">{{pluviometria.C}}</th>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col s2 m2 l2">
  </div>

  <div class="col s12 m12 l8 col-lg-offset-2">
    <div class="card-panel ng-scope">
      <h4 class="header2">Pluviometria e Vazão</h4>

      <div class="col s6 m4 l4 col-lg-offset-2">
    <label ng-class="inputClass" for="mes">Mês</label>
        <select class='browser-default active' id='' required ng-model='mes' ng-options='x as x.name for x in meses track by x.id'></select>
      </div>
      <div class="col s6 m4 l4 col-lg-offset-2">
    <label ng-class="inputClass" for="ano">Ano</label>
        <select class='browser-default active' id=''  required ng-model='ano' ng-change="changeAno(ano)" ng-options='x as x.id for x in anos track by x.id'></select>
      </div>

      <div class="row" >
        <div>
        
          <table class="table table-bordered table-hover striped table-condensed">
            <tr style="font-weight: bold">
              <td style="width:15%">Data</td>
              <td style="width:15%">Usuário</td>
              <td style="width:15%">Aterro</td>
              <td style="width:15%">Pluviometria</td>
              <td style="width:15%">Vazão</td>
              <td style="width:15%">Ações</td>
            </tr>

            <tr ng-repeat="operacaoPluviometria in operacaoPluviometrias">
              <td ng-click="rowform.$show()" >
                <!-- editable username (text with validation) -->
                <span editable-text="operacaoPluviometria.dataMedicao"  class="datepicker" e-name="dataMedicao" e-form="rowform"  e-required>
                {{ operacaoPluviometria.dia || 'empty' }}
                </span>
              </td>
              
              <td>
                <!-- editable status (select-local) -->
                <span ng-click="rowform.$show()" e-name="usuario" e-form="rowform" >
                {{ operacaoPluviometria.usuario.nome || 'empty' }}
                </span>
              </td>

              <td>
                <!-- editable status (select-local) -->
                <span ng-click="rowform.$show()" e-name="aterro" e-form="rowform" >
                {{ operacaoPluviometria.usuario.aterro.nome || 'empty' }}
                </span>
              </td>

              <td>
                <!-- editable status (select-local) -->
                <span editable-number="operacaoPluviometria.pluviometria" ng-click="rowform.$show()" e-name="pluviometria" e-form="rowform" >
                {{ operacaoPluviometria.pluviometria || 'empty' }}
                </span>
              </td>
              
              <td ng-click="rowform.$show()" >
                <!-- editable status (select-local) -->
                <span editable-number="operacaoPluviometria.vazao" e-name="vazao" e-form="rowform" >
                {{ operacaoPluviometria.vazao || 'empty' }}
                </span>
              </td>
              
              <td style="white-space: nowrap">
                <!-- form -->
                <form editable-form name="rowform" onbeforesave="savePluviometria($data, operacaoPluviometria.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == operacaoPluviometria">
                  <button type="submit" ng-disabled="rowform.$waiting" style="border:none; background: none !important;" >
                    <i class="mdi-navigation-check estre-darkgreen-icon small  icon-demo" aria-hidden="true"></i>
                  </button>
                  
                  <a ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" >
                    <i class="mdi-navigation-close estre-darkgreen-icon small  icon-demo" aria-hidden="true"></i>
                  </a>
                </form>
                <div class="buttons" ng-show="!rowform.$visible">
                  <!--<a ng-click="rowform.$show()"><i class="mdi-image-edit  estre-darkgreen-icon small  icon-demo" aria-hidden="true"></i></a>-->
                  <a ng-click="removePluviometria($index)"><i class="mdi-action-delete estre-darkgreen-icon  small icon-demo"></i></a>
                </div>  
              </td>
            </tr>
          </table>

          <a class="btn-floating btn-large waves-effect waves-light" ng-click="addPluviometria()" title="Incluir nova medição"><i class="mdi-content-add"></i></a>
      <a class="btn-floating btn-large waves-effect waves-light" ng-click="uploadPluviometria()" title="Inclusão automática via arquivo"><i class="mdi-file-cloud-upload"></i></a>

        </div>
      </div>
    </div>
  </div>
</div>
