
<div class="section">
 <div class="row section">
  <div class="divider"></div>
    <div class="row">
      <div class="col s12 m12 l6">
      	<grid-view fields="[{'name': 'nome' , 'value': 'Nome', 'filter': 'true'}, {'name': 'habilitado' , 'value': 'Habilitado'}]" listaname="secaofatorseguranca" autopage="true"  label="Lista de Seção de Fator de Segurança"  adicionar="" add="false" view="secaofatorseguranca" pagesize="5" strupdate="true"></grid-view>
      </div>
      <div class="col s12 m12 l6">
      	<form-view fields="[{'name': 'nome', 'value': 'Nome'}, {'name': 'habilitado' , 'value': 'Habilitado', 'type': 'checkbox' }]" label="Formulário de Seção de Fator de Segurança" listaname="secaofatorseguranca"  strupdate="false"></form-view>
    	</div>
    </div>
  </div>
</div>

