<div class="section">
    <div class="row section">
        <div class="divider"></div>
        <div class="row">
            <div class="col s12 m12 l6">
                <grid-view fields="[{'name': 'data' , 'value': 'Data Medição','uiFilter': 'date', 'type':'datepicker'}, {'name': 'saliencia' , 'value': 'Saliência', 'uiFilter': 'number'} , {'name': 'nivelChorume' , 'value': 'Nível de Chorume', 'uiFilter': 'number'}, {'name': 'aterro' , 'value': 'Aterro', 'sub':'nome', 'type': 'combobox', 'combo':'true', 'text': 'aterro', 'api': 'Aterro', 'model': 'aterros',  'fieldid': 'id', 'fieldname': 'nome'}, {'name': 'createdAt', 'value': 'Data Criação', 'uiFilter':'date', 'type':'datepicker'}, {'name':'usuario', 'value':'Criado por', 'sub': 'name'}]" listaname="pocosvisita" autopage="true" label="Lista de Poços de Visita" adicionar="" add="false" view="pocosvisita" pagesize="5" strdelete="true" update="true"></grid-view>
            </div>
            <div class="col s12 m12 l6">
                <form-view fields="[{'name': 'data' , 'value': 'Data', 'uiMask': 'ui-date-mask', 'type':'datetimepicker'}, {'name': 'saliencia' , 'value': 'Saliência' ,'uiMask': 'ui-number-mask=1'}, {'name': 'nivelChorume' , 'value': 'Nível de Chorume' ,'uiMask': 'ui-number-mask=1','uiMask': 'ui-number-mask=1'}, {'name': 'aterro' , 'value': 'Aterro', 'type': 'combobox', 'text': 'aterro', 'api': 'Aterro', 'model': 'aterros',  'fieldid': 'id', 'fieldname': 'nome','defaultkey':'id','defaultvalue':'nome','default':[{ 'me': '_aterro'}], 'updateperfil':[{ 'perfil': 'Gerente'},{ 'perfil': 'Administrador'}] }, {'name': 'usuario', 'type':'usuario'}]" label="Formulário de Poços de Visita" listaname="pocosvisita" strupdate="false" updateperfil="[{ 'perfil': 'Administrador'}, { 'perfil': 'Diretor'}]" adicionarperfil="[{ 'perfil': 'Administrador'},  { 'perfil': 'Diretor'}]"></form-view>
            </div>
        </div>
    </div>
</div>