
<div class="section">
 <div class="row section">
  <div class="divider"></div>


    <div class="row">
      <div class="col s12 m12 l6">

          

        <grid-view fields="[{'name': 'owner', 'sub':'nome', 'value': 'Piezômetro', 'type': 'combobox', 'combo':'true', 'text': 'piezometro', 'api': 'piezometro', 'model': 'piezometros',  'fieldid': 'id', 'fieldname': 'nome'},{'name': 'dataMedicao' , 'value': 'Data', 'type':'datetimepicker'}]" listaname="MedicaoPiezometro" autopage="true" adicionar="" add="false" label="Lista de Medições"  view="MedicaoPiezometro" pagesize="5" strupdate="true" ></grid-view>

        <button class="btn btn-large  ng-scope" aria-hidden="false" id="btMonitoramentos">Monitoramentos</button>          
      </div>


      <div class="col s12 m12 l6">
          <form-view fields="[ {'name': 'dataMedicao', 'value': 'Data', 'type':'datetimepicker'}, {'name': 'owner' , 'value': 'Piezômetro', 'type': 'combobox', 'text': 'owner', 'api': 'Piezometro', 'model': 'owner',  'fieldid': 'id', 'fieldname': 'nome' },
{'name': 'temperatura', 'value': 'Temperatura', 'uiMask':'ui-number-mask'},
{'name': 'saliencia', 'value': 'Saliência', 'uiMask':'ui-number-mask'},
{'name': 'prolongamentoCorte', 'value': 'Prolongamento/Corte (m)'},
{'name': 'medicoesNivelChorumeComPressaoNivelMedido', 'value': 'Medição de Nível de Chorume com Pressão (Rg. Fechado) Nível Medido (m)', 'uiMask':'ui-number-mask'},
{'name': 'medicoesNivelChorumeSemPressaoNivelMedido', 'value': 'Medição de Nível de Chorume Sem Pressão (Rg. Aberto) Nível Medido (m)', 'uiMask':'ui-number-mask'},
{'name': 'pressaoGasKpa', 'value': 'Pressão de Gás (Kpa)', 'uiMask':'ui-number-mask'},
{'name': 'pressaoGasMca', 'value': 'Pressão de Gás (Mca)', 'uiMask':'ui-number-mask'},
        ]" label="Formulário de Medição" listaname="MedicaoPiezometro" strupdate="true" updateperfil="[{ 'perfil': 'Administrador'}, { 'perfil': 'Diretor'}]" adicionarperfil="[{ 'perfil': 'Administrador'}, { 'perfil': 'Gerente'},{ 'perfil': 'Operacional'},  { 'perfil': 'Diretor'}]"></form-view>
      </div>
        

    </div>
  </div>
</div>