
<div class="section">
 <div class="row section">
  <div class="divider"></div>


    <div class="row">
      <div class="col s12 m12 l6">
        <grid-view fields="[{'name': 'data' , 'value': 'Data'},{'name': 'piezometro.nome' , 'value': 'Piezômetro'}]" listaname="MedicaoPiezometro" autopage="true" adicionar="" add="false" label="Lista de Aterro"  view="MedicaoPiezometro" pagesize="5" strupdate="true"></grid-view>
      </div>

      <div class="col s12 m12 l6">
        <form-view fields="[ {'name': 'data', 'value': 'Data', 'length': '20', 'type':'date'}, {'name': 'piezometro' , 'value': 'Piezômetro', 'type': 'combobox', 'text': 'piezometro', 'api': 'Piezometro', 'model': 'piezometro',  'fieldid': 'id', 'fieldname': 'nome' }]" label="Formulário de Medição" listaname="MedicaoPiezometro"  strupdate="true"></form-view>
      </div>
       
    </div>
  </div>
</div>


<!--{'name': 'situacao' , 'value': 'Em Operação', 'type': 'checkbox' }-->
