<style>
    #marco-resumo table, #marco-resumo td, #marco-resumo tr, #marco-resumo th {
        font-size: 10px;
        border: solid 1px;
    }

    th {
        text-align: center;
    }
</style>
<div class="section" ng-controller="BombeamentoImportacaoController" >
    <div class="row section">
        <div class="divider"></div>
        <div class="row">

            <div class="col s6 m6 l6">
                <form editable-form="" name="editableForm" class="ng-pristine ng-scope ng-invalid ng-invalid-date">
                    <p>
                        <b>Aterro: </b>
                        <span class="editable-wrap editable-text ng-scope">
                            <div class="editable-controls form-group" ng-class="{'has-error': $error}">
                                <select class="browser-default active ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" id="at" required="" ng-model="aterro" ng-options="x.id as x.nome for x in aterros" aria-invalid="true"></select>
                                <div class="editable-error help-block ng-binding ng-hide" ng-show="$error" ng-bind="$error" aria-hidden="true"></div>
                            </div>
                        </span>
                    </p>

                    <div class="buttons">
                        <button type="button" class="btn btn-default ng-hide">Adicionar</button>

                        <span class="">
                            <button type="submit" class="btn btn-primary" style="margin-right:10px;" ng-click="addMedicao()">Salvar</button>
                        </span>
                    </div>
                </form>
            </div>

            <div class="col s6 m6 l6">
                <div class="container">
                    <div class="card-panel ng-scope">

                        <a class="btn-floating btn-large waves-effect waves-light" ng-click="uploadDetalhes()" title="Inclusão automática via arquivo"><i class="mdi-file-cloud-upload"></i></a>

                        <div id="modalUpload" class="modal modal-fixed-footer">

                            <div class="modal-content">
                                <input type="file" class="dropify" data-height="300" on-read-file="extractFileContent($fileContent)" />
                                <div ng-if="content">
                                    <h2>Piezômetros processados no arquivo:</h2>

                                    <table class='striped'>
                                        <thead>
                                            <tr>
                                                <th class='text-center ng-binding ng-scope'>Data</th>
                                                <th class='text-center ng-binding ng-scope'>Bomba</th>
                                                <th class='text-center ng-binding ng-scope'>Números</th>
                                                <th class='text-center ng-binding ng-scope'>Ciclos</th>
                                                <th class='text-center ng-binding ng-scope'>Litros</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr ng-repeat='medicao in bombeamentosProcessados'>
                                                <td class="ng-scope">{{medicao.data}}</td>
                                                <td class="ng-scope">{{medicao.bomba}}</td>
                                                <td class="ng-scope">{{medicao.numeros}}</td>
                                                <td class="ng-scope">{{medicao.clicos}}</td>
                                                <td class="ng-scope">{{medicao.litros}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>	