

<div class="section">
    <div class="row section">
        <div class="divider"></div>
        <div class="row">
            <div class="col s12 m12 l6">
                <grid-view fields="[{'name': 'data' , 'value': 'Data Medição','uiFilter': 'date'}, {'name': 'bomba' , 'value': 'Bomba'}, {'name': 'aterro' , 'value': 'Aterro', 'sub':'nome', 'type': 'combobox', 'combo':'true', 'text': 'aterro', 'api': 'Aterro', 'model': 'aterros',  'fieldid': 'id', 'fieldname': 'nome'},{'name': 'numeros' , 'value': 'Números', 'uiFilter': 'number'}, {'name': 'ciclos' , 'value': 'Ciclos', 'uiFilter': 'number'}, {'name': 'litros' , 'value': 'Litros', 'uiFilter': 'number'}, {'name': 'createdAt', 'value': 'Data Criação', 'uiFilter':'date'}, {'name':'usuario', 'value':'Criado por', 'sub': 'name'}]" listaname="bombeamento" autopage="true" label="Lista de Bombeamento" adicionar="false" add="false" view="bombeamento" pagesize="5" update="true" strdelete="true"></grid-view>
            </div>
            <div class="col s12 m12 l6">

                <form-view fields="[{'name': 'data' , 'value': 'Data', 'type':'datepicker'}, {'name': 'bomba' , 'value': 'Bomba'}, {'name': 'numeros' , 'value': 'Números','uiMask': 'ui-number-mask=1'}, {'name': 'ciclos' , 'value': 'Ciclos','uiMask': 'ui-number-mask=1'}, {'name': 'litros' , 'value': 'Litros','uiMask': 'ui-number-mask=1'}, {'name': 'aterro' , 'value': 'Aterro', 'type': 'combobox', 'text': 'aterro', 'api': 'Aterro', 'model': 'aterros',  'fieldid': 'id', 'fieldname': 'nome' },{'name':'usuario', 'type': 'usuario'}]" label="Formulário de Bombeamento" listaname="bombeamento" strupdate="false" updateperfil="[{ 'perfil': 'Administrador'}, { 'perfil': 'Diretor'}]" noacess="[{ 'perfil': 'Operacional'}]" adicionarperfil="[{ 'perfil': 'Administrador'},  { 'perfil': 'Diretor'}]></form-view>

            </div>
        </div>
    </div>
</div>

