
<div class="section">
 <div class="row section">
  <div class="divider"></div>
    <div class="row">
      <div class="col s12 m12 l6">
      	<grid-view fields="[{'name': 'data' , 'value': 'Data','uiFilter': 'date' }, {'name': 'bomba' , 'value': 'Bomba', 'uiFilter': 'number'}, {'name': 'numeros' , 'value': 'Números', 'uiFilter': 'number'}, {'name': 'ciclos' , 'value': 'Ciclos', 'uiFilter': 'number'}, {'name': 'litros' , 'value': 'Litros', 'uiFilter': 'number'}]" listaname="bombeamento" autopage="true"  label="Lista de Bombeamento"  adicionar="false" add="false" view="bombeamento" pagesize="5" update="true" strdelete="true"></grid-view>
      </div>
      <div class="col s12 m12 l6">
      	<form-view  fields="[{'name': 'data' , 'value': 'Data', 'uiMask': 'ui-date-mask'}, {'name': 'bomba' , 'value': 'Bomba'}, {'name': 'numeros' , 'value': 'Numeros','uiMask': 'ui-number-mask=1'}, {'name': 'ciclos' , 'value': 'Ciclos','uiMask': 'ui-number-mask=1'}, {'name': 'litros' , 'value': 'Litros','uiMask': 'ui-number-mask=1'}]"  label="Formulário de Bombeamento" listaname="bombeamento"  strupdate="false"></form-view>
    	</div>
    </div>
  </div>
</div>

