
<!DOCTYPE html>
<html>
<head>
    <title>Estre</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="icon" href="favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/js/private/dashboard/isteven-multi-select.css">
    <link rel="stylesheet" href="elements.css">
    <link rel="stylesheet" href="/styles/materialize.css">
    <link href="/styles/style.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link rel="stylesheet" href="/styles/style-horizontal.css">
    <link href="/styles/custom.css" type="text/css" rel="stylesheet" media="screen,projection">

    <link rel="stylesheet" href="/styles/bootstrap-material-datetimepicker.css" />
    <link href="/styles/fonts.googleapi.com.roboto.css" rel='stylesheet' type='text/css'>
    <link href="/styles/fonts.googleapi.com.material.icons.css" rel="stylesheet">

    <link href="/js/dependencies/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="/js/dependencies/sweetalert/dist/sweetalert.css" type="text/css" rel="stylesheet" media="screen,projection">

    <link href="/js/private/dashboard/css/dropify.min.css" type="text/css" rel="stylesheet" media="screen,projection">

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v1.0.0-rc.1/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet/v1.0.0-rc.1/leaflet.js"></script>


    <style>
        table tr td {
            font-size: 11px;
        }

        h2 {
            font-size: 3.56rem;
            line-height: 0%;
            margin: 0.78rem 0 1.424rem 0;
        }
    </style>

</head>

<body id="layouts-horizontal" ng-app="DashboardModule" ng-controller="MonitoramentoAterroController">
    <div>
        <div id="loader-wrapper">
            <div id="loader"></div>
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
        </div>

        <div id="main">
            <div class="wrapper">
                <section id="content">

                    <div class="container">

                        <div class="section">

                            <div class="row">
                                <div class="col s12 m12">
                                    <h2 id="nomeaterro" class="ng-binding" style="text-align:center">{{dashboard.current.aterro.nome}}</h2>
                                </div>
                            </div>

                            <div class="row" id="doismapas" style="display:none">
                                <div class="col s6 m6 l6 parallax-container">
                                    <div class="row">
                                        <p style="text-align:center">
                                            Horizontal
                                        </p>
                                    </div>

                                    <iframe src="{{dashboard.current.mapaHorizontal}}" style="border:none;width:100%;height:100%" class="maph"></iframe>
                                </div>

                                <div class="col s6 m6 l6 parallax-container">

                                    <div class="row">
                                        <p style="text-align:center">
                                            Vertical
                                        </p>
                                    </div>

                                    <iframe src="{{dashboard.current.mapaVertical}}" style="border:none;width:100%;height:100%" class="mapv"></iframe>
                                </div>
                            </div>

                            <!--<div class="row" ng-show="{{data.exibirMapaHorizontal}} && !{{data.exibirMapaVertical}}">-->
                            <div class="row" id="mapahorizontal" style="display:none">
                                <div class="col s12 m12 parallax-container">
                                    <div class="row">
                                        <p style="text-align:center">
                                            Horizontal
                                        </p>
                                    </div>

                                    <iframe src="{{dashboard.current.mapaHorizontal}}" style="border:none;width:100%;height:100%" class="maph"></iframe>
                                </div>

                            </div>

                            <!--<div class="row" ng-show="!{{data.exibirMapaHorizontal}} && {{data.exibirMapaVertical}}">-->
                            <div class="row" id="mapavertical" style="display:none">
                                <div class="col s12 m12 parallax-container">
                                    <div class="row">
                                        <p style="text-align:center">
                                            Vertical
                                        </p>
                                    </div>

                                    <iframe src="{{dashboard.current.mapaVertical}}" style="border:none;width:100%;height:100%" class="mapv"></iframe>
                                </div>

                            </div>

                            <!--<div class="row" ng-show="{{data.exibirLegenda}}" style="margin-top: 35px;">-->
                            <div class="row" id="legenda" style="margin-top: 35px;display:none">
                                <table>
                                    <tr>
                                        <td style="background-color:green"></td>
                                        <td>Velocidade menor do que 0,25</td>
                                        <td style="background-color:yellow"></td>
                                        <td>Velocidade menor do que 1</td>
                                        <td style="background-color:orange"></td>
                                        <td>Velocidade menor do que 4</td>
                                        <td style="background-color:red"></td>
                                        <td>Velocidade menor do que 14</td>
                                        <td style="background-color:black"></td>
                                        <td>Velocidade maior do que 14</td>
                                    </tr>
                                </table>
                            </div>

                            <!--<div class="row" ng-show="{{dashboard.config.exibirfatorseguranca}}">-->
                            <div class="row" id="fator" style="display:none;margin-top:20px">
                                <div class="col s12 m12 l6">
                                    FATOR SEGURAN&Ccedil;A

                                    <div class="row">
                                        <img id="preview" />
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </section>

            </div>
        </div>
    </div>

    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/angular.min.js"></script>
    <script src="/js/dependencies/angular-i18n/angular-locale_pt-br.js"></script>
    <script src="/js/dependencies/angular-input-masks/releases/angular-input-masks-dependencies.js"></script>
    <script src="/js/dependencies/angular-input-masks/releases/angular-input-masks.js"></script>
    <script src="/js/dependencies/angular-br-filters/release/angular-br-filters.js"></script>
    <script src="/js/dependencies/angular-material.min.js"></script>
    <script src="/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/js/dependencies/materialize.js"></script>
    <script type="text/javascript" src="/js/private/dashboard/isteven-multi-select.js"></script>
    <script src="/js/dependencies/perfect-scrollbar.min.js"></script>
    <script type="text/javascript" src="/js/sparkline/jquery.sparkline.min.js"></script>
    <script type="text/javascript" src="/js/sparkline/sparkline-script.js"></script>
    <script type="text/javascript" src="/js/dependencies/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="/js/plugins.js"></script>
    <script src="/js/dependencies/custom-script.js"></script>
    <link rel='stylesheet' href='/js/dependencies/font-awesome/css/font-awesome.css'>

    <link rel='stylesheet' href='/js/dependencies/textangular/dist/textAngular.css'>
    <script src='/js/dependencies/textangular/dist/textAngular-rangy.min.js'></script>
    <script src='/js/dependencies/textangular/dist/textAngular-sanitize.min.js'></script>
    <script src='/js/dependencies/textangular/dist/textAngular.min.js'></script>
    <script src="/js/dependencies/angular-animate.min.js"></script>
    <script src="/js/dependencies/angular-aria.min.js"></script>
    <script src="/js/dependencies/angular-cookies.min.js"></script>
    <script src="/js/dependencies/angular-file-upload.min.js"></script>
    <script src="/js/dependencies/angular-loader.min.js"></script>
    <script src="/js/dependencies/angular-message-format.min.js"></script>
    <script src="/js/dependencies/angular-messages.min.js"></script>
    <script src="/js/dependencies/angular-resource.min.js"></script>
    <script src="/js/dependencies/angular-route.min.js"></script>
    <script src="/js/private/dashboard/angular-leaflet-directive.min.js"></script>
    <script src="/js/private/dashboard/angular-xeditable/js/xeditable.js"></script>
    <script src="/js/private/dashboard/ui-bootstrap-tpls.min.js"></script>
    <script src="/js/private/dashboard/angular-upload.min.js"></script>

    <script src="/js/private/dashboard/App.js"></script>
    <script src="/js/private/dashboard/MonitoramentoAterroController.js"></script>

    <script src="/js/private/dashboard/Route.js"></script>


    <script type="text/javascript" src="/js/private/dashboard/material.min.js"></script>
    <script type="text/javascript" src="/js/private/dashboard/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="/js/private/dashboard/bootstrap-material-datetimepicker.js"></script>


</body>
</html>
