<!DOCTYPE html>
<html ng-app="VisualizacaoApp">
	<head>
		<title>Visualização</title>
	</head>
	<style type="text/css">
* {
    padding: 0;
    margin: 0;
    border: 0;
}		
	</style>
	<body ng-controller="ViewTemplateController">
		<div ng-init='init()' >
			<div>
									
			</div>

			<div id="grafico">
				
			</div>
		</div>
		<script src="/js/dependencies/angular.min.js"></script>		
		<script src="/js/dependencies/angular-sanitize.min.js"></script>
    	<script src="/js/dependencies/angular-i18n/angular-locale_pt-br.js"></script>
        <script type="text/javascript" src="http://static.fusioncharts.com/code/latest/fusioncharts.js"></script>
        <script type="text/javascript" src="http://static.fusioncharts.com/code/latest/themes/fusioncharts.theme.ocean.js"></script>
	 	<script src="/js/angular-fusioncharts.min.js"></script>
		<script src="/js/private/dashboard/highcharts.js"></script>
		<script src="/js/private/dashboard/highcharts-exporting.js"></script>
		<script src="/js/private/dashboard/ViewRelatorioController.js"></script>
	</body>
</html>
