<!DOCTYPE html>
<html ng-app="VisualizacaoApp">
	<head>
		<title>Visualização</title>
		 <link rel="stylesheet" href="/styles/prism.css">
  <link rel="stylesheet" href="/styles/normalize.css">
  <link rel="stylesheet" href="/styles/foundation.min.css">
  <link rel="stylesheet" href="/styles/font-awesome.min.css">
  <link rel="stylesheet" href="/styles/app.css">
  <script src="/js/public/modernizr.js"></script>
	</head>

	<body ng-controller="ViewTemplateController">

		<div ng-init='init()' >
			<div ng-bind-html="corpo">
									
			</div>

			
		</div>


	</body>
	    <script src="/js/jquery-1.11.2.min.js"></script>
	<script src="/js/dependencies/angular.min.js"></script>		
		<script src="/js/dependencies/angular-sanitize.min.js"></script>
    	<script src="/js/dependencies/angular-i18n/angular-locale_pt-br.js"></script>
        <script type="text/javascript" src="http://static.fusioncharts.com/code/latest/fusioncharts.js"></script>
        <script type="text/javascript" src="http://static.fusioncharts.com/code/latest/themes/fusioncharts.theme.ocean.js"></script>
	 	<script src="/js/angular-fusioncharts.min.js"></script>
		<script src="/js/private/dashboard/highcharts.js"></script>
		<script src="/js/private/dashboard/highcharts-exporting.js"></script>
		<script src="/js/private/dashboard/ViewRelatorioController.js"></script>
</html>
