
<div class="section">
 <div class="row section">
  <div class="divider"></div>
    <div class="row">
      <div class="col s12 m12 l6">
      	<grid-view fields="[{'name': 'parametro' , 'value': 'Parametro', 'filter': 'true'},{'name': 'valor' , 'value': 'Valor'  }  ]" listaname="Alerta"  label="Lista de Alerta"  autopage="true" adicionar="" add="false"  strupdate="true" strdelete="false" view="Alerta" pagesize="5"></grid-view>
      </div>
      <div class="col s12 m12 l6">
      	<form-view fields="[{'name': 'parametro', 'value': 'Parametro', 'uiMask':''}, {'name': 'valor' , 'value': 'Valor'}]" label="Formulário de Alerta" listaname="Alerta" strnew="false" strupdate="true"></form-view>
    	</div>
    </div>
  </div>
</div>