
<div class="section">
 <div class="row section">
  <div class="divider"></div>
    <div class="row">
      <div class="col s12 m12 l6">
          <grid-view fields="[{'name': 'nivel' , 'value': 'Nível de Alerta'},{'name': 'velocidade' , 'value': 'Velocidade de Deslocamento', 'uiFilter': 'number'},{'name':'periodicidade', 'value': 'Periodicidade Recomendada' }, {'name': 'criterios', 'value': 'Critério de Decisão'}  ]" listaname="Alerta" label="Lista de Alerta" noacess="[{ 'perfil': 'Operacional'}]" autopage="true" adicionar="" add="false" strupdate="true" strdelete="false" view="Alerta" pagesize="5" updateperfil="[{ 'perfil': 'Administrador'}, { 'perfil': 'Diretor'}]" viewperfil="[{ 'perfil': 'Administrador'}, { 'perfil': 'Diretor'}, { 'perfil': 'Gerente'}]"></grid-view>
      </div>
      <div class="col s12 m12 l6">
          <form-view fields="[{'name': 'nivel' , 'value': 'Nível de Alerta'}, {'name': 'velocidade' , 'value': 'Velocidade de Deslocamento', 'uiMask':'ui-number-mask=2'},{'name':'periodicidade', 'value': 'Periodicidade Recomendada' }, {'name': 'criterios', 'value': 'Critério de Decisão'}]" label="Formulário de Alerta" listaname="Alerta" noacess="[{ 'perfil': 'Operacional'}]" updateperfil="[{ 'perfil': 'Administrador'}, { 'perfil': 'Diretor'}]" viewperfil="[{ 'perfil': 'Administrador'}, { 'perfil': 'Diretor'}, { 'perfil': 'Gerente'}]" strnew="true" strupdate="true"></form-view>
    	</div>
    </div>
  </div>
</div>
