
<div class="section">
 <div class="row section">
  <div class="divider"></div>
    <div class="row">
      <div class="col s12 m12 l6">
      	<grid-view fields="[{'name': 'nivel' , 'value': 'Nivel de Alerta'},{'name': 'velocidade' , 'value': 'Velocidade', 'uiFilter': 'number'},{'name':'periodicidade', 'value': 'Periodicidade Recomendada' }, {'name': 'criterios', 'value': 'Criterio de Decisão'}  ]" listaname="Alerta"  label="Lista de Alerta"  autopage="true" adicionar="" add="false"  strupdate="true" strdelete="false" view="Alerta" pagesize="5"></grid-view>
      </div>
      <div class="col s12 m12 l6">
      	<form-view fields="[{'name': 'nivel' , 'value': 'Nivel de Alerta'}, {'name': 'velocidade' , 'value': 'Velocidade', 'uiMask':'ui-number-mask=0'},{'name':'periodicidade', 'value': 'Periodicidade Recomendada' }, {'name': 'criterios', 'value': 'Criterio de Decisão'}]" label="Formulário de Alerta" listaname="Alerta" strnew="true" strupdate="true"></form-view>
    	</div>
    </div>
  </div>
</div>
