<p>Na medição de Piezômetro do dia <%=data%> houve alertas para o seguinte piezômetro:</p>
<p><%= medicoes %></p>
<p>Acesso o sistema pelo link abaixo e insira as observações sobre o ocorrido.</p>
<%=link%>
