<html>

<body>

    <table style="width:100%" border="0">
        <thead>
            <tr>
                <th style="background-color:#858484"></th>

                <th style="background-color:#9acd32"></th>

                <th style="background-color:#c5c1c1"></th>

                <th style="background-color:#dddddd"></th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td colspan="4">
                    <img src=<%=logo %> />
                </td>
            <tr>
        </tbody>

    </table>

    <div>
        <p>O Gerente do Aterro inseriu a seguinte observação para a medição Piezômetro com Alerta do dia <%=data%>:</p>
        <p><%= observacoes %></p>
        <p><%=link%></p>


    </div>
</body>
</html>







