
<div class="section">
 <div class="row section">
   
  <div class="divider"></div>


    <div class="row">
      <div class="col s12 m12 l6">
      	<grid-view fields="[{'name': 'nome' , 'value': 'Nome', 'filter': 'true'},{'name': 'cidade' , 'value': 'Cidade', 'filter': 'true'}, {'name': 'endereco', 'value': 'Endereço'}, {'name': 'telefone', 'value': 'Telefone', 'uiFilter': 'brPhoneNumber'}, {'name': 'situacao', 'value': 'Situação'} ]" listaname="Aterro" autopage="true"  add="false" label="Lista de Aterro"  view="Aterro" pagesize="5" strupdate="true"></grid-view>
      </div>

      <div class="col s12 m12 l6">
      	<form-view fields="[ {'name': 'nome', 'value': 'Nome', 'length': '20'}, {'name': 'cidade' , 'value': 'Cidade'}, {'name': 'endereco' , 'value': 'Endereço'}, {'name': 'telefone' , 'value': 'Telefone', 'uiMask': 'ui-br-phone-number'}, {'name': 'usuarios' , 'value': 'Usuarios do Aterro', 'type': 'comboboxmulti', 'text': 'usuario', 'api': 'Usuario', 'model': 'usuarios',  'fieldid': 'id', 'fieldname': 'name' },{'name': 'situacao' , 'value': 'Em Operação', 'type': 'checkbox' } ]" label="Formulário de Aterro" adicionarPerfil="[{ 'perfil': 'Administrador'}, { 'perfil': 'Diretor'}]" listaname="Aterro"  strupdate="true"></form-view>
    	</div>
        
   
    </div>
  </div>
 
</div>
</div>
<script>
$(document).ready(function() {
    $('select').material_select();
  });
</script>
<!--{'name': 'situacao' , 'value': 'Em Operação', 'type': 'checkbox' }-->
