<div class="row" ng-init="init()">

    <div class="col s1 m1 l1">
        &nbsp;
        </div>
      <div class="col s10 m10 l10 col-lg-offset-2">
      	<div class="card-panel ng-scope"><h4 class="header2">Linha de Corte</h4><div class="row" >
<div ng-controller="PluviometriaVazaoController">
  <table class="table table-bordered table-hover striped table-condensed">
    <tr style="font-weight: bold">
      <td style="width:15%">Data</td>
      <td style="width:20%">Usuario</td>
      <td style="width:20%">Aterro</td>
      <td style="width:15%">Linha de Corte</td>
      <td style="width:15%">Altura</td>
      <td style="width:15%">Comprimento</td>
      <td style="width:15%">Tipo Estaca</td>
      <td style="width:15%">Ações</td>
    </tr>
 
    <tr ng-repeat="operacaoPluviometria in operacaoPluviometrias">
            <td ng-click="rowform.$show()" >
        <!-- editable username (text with validation) -->
        <span editable-text="operacaoPluviometria.dataMedicao"  class="datepicker" e-name="dataMedicao" e-form="rowform"  e-required>
          {{ operacaoPluviometria.dataMedicao || 'empty' }}
        </span>
      </td>
        <td ng-click="rowform.$show()" >
        <!-- editable username (text with validation) -->
        <span editable-select="operacaoPluviometria.usuario" e-name="usuario" e-form="rowform"  onshow="loadUsuarios()" e-ng-options="user.id as user.name for user in usuarios"  e-required>
          {{ showUsuario(operacaoPluviometria) }}
        </span>
      </td>
      <td ng-click="rowform.$show()">
        <!-- editable group (select-remote) -->
        <span editable-select="operacaoPluviometria.aterro"  e-name="aterro" onshow="loadAterros()" e-form="rowform" e-ng-options="g.id as g.nome for g in aterros | filter: {situacao: true}">
          {{ showAterro(operacaoPluviometria) }}
        </span>
      </td>
    <td ng-click="rowform.$show()">
        <!-- editable group (select-remote) -->
        <span editable-select="operacaoPluviometria.linhaCorte"  e-name="linhaCorte" onshow="loadLinhaCorte()" e-form="rowform" e-ng-options="g.id as g.nome for g in linhaCortes | filter: {habilitado: true}">
          {{ showLinhaCorte(operacaoPluviometria) }}
        </span>
      </td>
      <td>
        <!-- editable status (select-local) -->
        <span editable-number="operacaoPluviometria.altura" ng-click="rowform.$show()" e-name="altura" e-form="rowform" >
       {{ operacaoPluviometria.altura || 'empty' }}
        </span>
      </td>
       <td ng-click="rowform.$show()" >
        <!-- editable status (select-local) -->
        <span editable-number="operacaoPluviometria.comprimento" e-name="comprimento" e-form="rowform" >
        {{ operacaoPluviometria.comprimento || 'empty' }}
        </span>
      </td>
           <td ng-click="rowform.$show()" >
        <!-- editable status (select-local) -->
        <span editable-text="operacaoPluviometria.tipoEstaca" e-name="tipoEstaca" e-form="rowform" >
        {{ operacaoPluviometria.tipoEstaca || 'empty' }}
        </span>
      </td>
      <td style="white-space: nowrap">
        <!-- form -->
        <form editable-form name="rowform" onbeforesave="savePluviometria($data, operacaoPluviometria.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == operacaoPluviometria">
          <button type="submit" ng-disabled="rowform.$waiting" style="border:none; background: none !important;" >
              <i class="mdi-navigation-check estre-darkgreen-icon small  icon-demo" aria-hidden="true"></i>
          </button>
          <a ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" >
              <i class="mdi-navigation-close estre-darkgreen-icon small  icon-demo" aria-hidden="true"></i>
          </a>
        </form>
        <div class="buttons" ng-show="!rowform.$visible">
          <!--<a ng-click="rowform.$show()"><i class="mdi-image-edit  estre-darkgreen-icon small  icon-demo" aria-hidden="true"></i></a>-->
          <a ng-click="removePluviometria($index)"><i class="mdi-action-delete estre-darkgreen-icon  small icon-demo"></i></a>
        </div>  
      </td>
    </tr>
  </table>

  <a class="btn-floating btn-large waves-effect waves-light" ng-click="addPluviometria()"><i class="mdi-content-add"></i></a>
</div>
</div>
</div>
</div>

</div>
