

<div class="section">
 <div class="row section">
  <div class="divider"></div>
    <div class="row">
      <div class="col s12 m12 l6">
      	<grid-view fields="[{'name': 'data' , 'value': 'Data','uiFilter': 'date'}, {'name': 'saliencia' , 'value': 'Saliência', 'uiFilter': 'number'} , {'name': 'nivelChorume' , 'value': 'Nível de Chorume', 'uiFilter': 'number'}, {'name':'aterro', 'value':'Aterro', 'sub':'nome', 'filter':'true'}]" listaname="pocosvisita" autopage="true"  label="Lista de Poços de Visita"  adicionar="" add="false" view="secaofatorseguranca" pagesize="5" strdelete="true" update="true"></grid-view>
      </div>
      <div class="col s12 m12 l6">
      	<form-view  fields="[{'name': 'data' , 'value': 'Data', 'uiMask': 'ui-date-mask'}, {'name': 'saliencia' , 'value': 'Saliência' ,'uiMask': 'ui-number-mask=1'}, {'name': 'nivelChorume' , 'value': 'Nível de Chorume' ,'uiMask': 'ui-number-mask=1','uiMask': 'ui-number-mask=1'}, {'name': 'aterro' , 'value': 'Aterro', 'type': 'combobox', 'text': 'aterro', 'api': 'Aterro', 'model': 'aterros',  'fieldid': 'id', 'fieldname': 'nome' }]"  label="Formulário de Poços de Visita" listaname="pocosvisita"  strupdate="false"></form-view>
    	</div>
    </div>
  </div>
</div>

