<div class="section"   ng-init="loadAterros()" >
 <div class="row section">
  <div class="divider"></div>

      <div class="col s12 m12 l12">
                                <div class="map-card">
                                    <div class="card">
                                        <div class="card-image waves-effect waves-block waves-light" >
                                                <my-iframe src="getSrc()" width="100%" height="400px" >
                                        </div>
                                        <div class="card-content">  
                                          
                                                       
                                            <a class="btn-floating activator btn-move-up waves-effect waves-light darken-2 right" ng-show="aterro.nome">
                                                <i class="mdi-action-subject"></i>
                                            </a>
                                            
                                            <a class="btn-floating  btn-move-up waves-effect waves-light darken-2 right"  ng-click="addNewMapa()"  ng-show="aterro.nome">
                                            <i class="mdi-content-add"></i>
                                            </a>     
                                            
                                            
                                             <div class='row'>
                        <div class='input-field col  s2 m2 l2'> 

                            <a class='dropdown-button waves-effect waves-light btn'  data-activates='dropdown1'>Selecione Aterro</a>

  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li ng-repeat="aterro in aterros"><a ng-click="selecionarAterro(aterro)">{{aterro.nome}}</a></li>
    
  </ul>
                            <!--<label class='active' for='Atero'>Aterro</label>                     
                                    <select class='browser-default active' id='Aterro' ng-change="buscarMapas(aterro.id)" required ng-model='aterro' ng-options='x as x.nome for x in aterros track by x.id'>
	                        </select>-->
                        </div>

                        
                     
	    </div>
         <h4 class="card-title grey-text text-darken-4"><a href="#" class="grey-text text-darken-4">Detalhes do Aterro</a>
                                            </h4>
              <div class='row' ng-show="aterro.nome">
                <div class="input-field col s6">
                        <h6>Aterro - {{aterro.nome}}</h6>
                      </div>
                    
                      <div class="input-field col s6">
                        <h6>Endereço - {{aterro.endereco}}</h6>
                      </div>
                     
                   
           
      
                <div class="input-field col s6">
                        <h6>Telefone {{aterro.telefone}}</h6>
                      </div>
                         <div class="input-field col s6">
                     
      </div>
       </div>
                                        </div>
                                        <div class="card-reveal">
                                            <span class="card-title grey-text text-darken-4">Lista de Mapas por Data <i class="mdi-navigation-close right"></i></span>                   
                                            <div class='row' ng-init='init()'>
  
  
          
               
               
                <table class='striped'><thead>
                  <tr>
                  <th style='width: 30px;'><input type='checkbox' value='true' data-bind='checked: selectAll' />Data</th>
                  <th ng-repeat='field in fields' class='text-center' id='Sistema.Id' style='cursor:pointer'>{{field.value | asDate |date:&quot;dd/MM/yyyy&quot; }}</th><th  ng-show='exibir(strupdate)'>Ações</th>
                  </tr>
                </thead>
          
          
                <tbody>
                  <tr ng-repeat='mapa in mapas' ng-click='ViewItem(datum)' style='cursor:pointer'><td><input type='checkbox' /></td><td ng-repeat='field in fields' >
                    <th>{{mapa.dataCriacao  | asDate |date:&quot;dd/MM/yyyy&quot; }}</th>
                    <th>
                    <a ng-click='selecionarMapa(mapa)' ><i class='mdi-action-search' aria-hidden='true'></i></a>
                    </th>
                </tr>
                </tbody>
                </table>
                </div>                  
                                        </div>
                                    </div>
                                </div>
                            </div>



        
            
         <input type="hidden" name="_csrf" value="<%= _csrf %>" class="ng-scope">

    </div>

<script>
  $(document).ready(function() {
      $('.dropdown-button').dropdown({
      inDuration: 300,
      outDuration: 225,
      constrain_width: false, // Does not change width of dropdown to that of the activator
      hover: true, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: false, // Displays dropdown below the button
      alignment: 'left' // Displays dropdown with edge aligned to the left of button
    }
  );
  });

</script>


