<style type="text/css">
	/* Editor styling */
	.ta-toolbar {    
	    padding: 10px 10px 5px !important;
	    background-color: #eee;
	    margin-left: 0px; /* Override bootstrap */
	    border: 1px solid #bebebe;
	}

	.ta-editor, .white-box {
	    padding: 10px;
	    padding-bottom: 0;
	    background-color: #FFF;
	    border: 1px solid #bebebe;
	}

	textarea.ta-bind {
	  width: 100%;
	}
    .ta-editor {
        min-height: 300px;
        height: auto;
        overflow: auto;
        font-family: inherit;
        font-size: 100%;
    }
	.btn {
	  display: inline-block;
	  padding: 6px 12px;
	  margin-bottom: 0;
	  font-size: 14px;
	  font-weight: normal;
	  line-height: 1.42857143;
	  text-align: center;
	  white-space: nowrap;
	  vertical-align: middle;
	  -ms-touch-action: manipulation;
	      touch-action: manipulation;
	  cursor: pointer;
	  -webkit-user-select: none;
	     -moz-user-select: none;
	      -ms-user-select: none;
	          user-select: none;
	  background-image: none;
	  border: 1px solid transparent;
	  border-radius: 4px;
	}
	.ta-toolbar .btn-group {
	margin-bottom: 5px;
}
.btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.btn-group>.btn:hover, .btn-group-vertical>.btn:hover, .btn-group>.btn:focus, .btn-group-vertical>.btn:focus, .btn-group>.btn:active, .btn-group-vertical>.btn:active, .btn-group>.btn.active, .btn-group-vertical>.btn.active {
    z-index: 2;
}
.btn-group>.btn, .btn-group-vertical>.btn {
    position: relative;
    float: left;
}
.btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-image: none;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color: #333;
    background-color: #ebebeb;
    border-color: #adadad;
}
.btn:active, .btn.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

html, body, div, span, applet, object, iframe, table, caption,
tbody, tfoot, thead, tr, th, td, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend {
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}
:focus {
    outline: 0;
}
body {
    background: white;
    line-height: 1;
    color: black;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    font-weight: normal;
    text-align: left;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}
</style>


<div class='card-panel' ng-init='init()' >
<h4 class='header2'>Formulário de Template</h4>
<div class='row'>
	<form class='col s12'  ng-submit='save()' id='sign-up-form'>
		<div class='row'>
			<div class='input-field col s12'>
				<input type='text' ng-model="data.nome"></input>
				<label  ng-class='inputClass'>Nome</label>
			</div>
			<div class='input-field col s12'>
				<input type='text' ng-model="data.dataInicio" ui-date-mask></input>
				<label  ng-class='inputClass'>Data Inicio</label>
			</div>			
				<div class='input-field col s12'>
				<input type='text' ng-model="data.dataFim" ui-date-mask></input>
				<label  ng-class='inputClass'>Data Final</label>
			</div>	
			
		</div>
		<div class='row'>
			<div class='collection-item dismissable'>
				<div class='input-field col s12'>
					<label >Corpo</label><br><br>

					     <textarea ck-editor="" ng-model="data.corpo" class="form-control" id="body-editor" value="{{data.corpo}}">{{data.corpo}}</textarea>

				</div>
	
			</div>
		</div>
		<div class='row'>&nbsp;</div>
		<div class='row'>
			<div class='input-field col s12'>
				<button  type='submit' ng-click="save()" class='btn cyan waves-effect waves-light right' >
				<span ng-show='!sennitForm.loading'>Submeter</span>
				<span class='overlord-loading-spinner fa fa-spinner' ng-show='sennitForm.loading' >
					
				</span>
				<span ng-show='sennitForm.loading'>Aguarde...</span>
				</button>
			</div>
		</div>
		<input type='hidden' name='_csrf' value='<%= _csrf %>' />
	</form>
</div>

 