<div class="section">
  <div class="row section">
  <div class="divider"></div>
    <div class="row">
      <div class="col s12 m12">
      	<grid-view fields="[{'name': 'nome' , 'value': 'Nome', 'filter': 'true'},{'name': 'data' , 'value': 'Data', 'uiFilter': 'date'}, {'name': 'tipo' , 'value': 'Tipo'}, {'name': 'usuario', 'value': 'Usuário'} ]" listaname="Relatorio"  label="Lista de Relátorio"  autopage="true" adicionar="" add="false"   strupdate="false" strdelete="false" view="Relatorio" pagesize="5"></grid-view>
      </div>
    </div>
  </div>
</div>
