
<div class='row'>
	<div  class='col s6'>
<div class='card-panel' ng-init='init()' >
    <nav>
    <div class="nav-wrapper  light-green">
      <a href="#" class="brand-logo"> Editando - {{paginas[editPageId].nome }}</a>
      <ul class="right hide-on-med-and-down">

          
        <li><a ng-href=""><i class="material-icons"   ng-click="novaPagina()">note_add</i></a></li>
        <li><a  ng-href=""><i class="material-icons"   ng-click="savePage()">done</i></a></li>
        <li><a  ng-href=""><i class="material-icons"  ng-click="verPagina()">refresh</i></a></li>
          <li><a ng-href=""><i class="material-icons"   ng-click="imprimir()">print</i></a></li>
           <li><a class="modal-trigger" href="#modal1" ><i class="material-icons"   ng-click="imprimir()">assessment</i></a></li>
      </ul>
    </div>
  </nav>

<div class='row'>
    <div  class='col s12' >
	
		
		<div class='row'>
			<div class='collection-item dismissable'>
				<div class='input-field col s12'>
					

					     <textarea ck-editor ng-model="selectedPage" class="form-control"  value="{{selectedPage}}">{{selectedPage}}</textarea>

				</div>
	
			</div>
		</div>
		<div class='row'>&nbsp;</div>
		
		<input type='hidden' name='_csrf' value='<%= _csrf %>' />
		
<!--


    <button ng-click="novaPagina()" class="btn cyan waves-effect waves-light right">Nova Página</button>
   <button ng-click="savePage()" class="btn cyan waves-effect waves-light right">Gravar</button>
    <button ng-click="verPagina()" class="btn cyan waves-effect waves-light right">Preview</button>-->
    </div>

    </div>
    </div>
    </div>

	<div  class='col s6'>
    <div class='card-panel' >
<h4 class='header2'>Preview Relatório</h4>
<div class='row'>
	<div  class='col s12'  style="overflow: auto; height: 850px;" >
		
<div class="reportEstre">
	<div ng-repeat="pagina in paginas">
		 <p>
                               
<i class="material-icons dp48" ng-click="deletePagina(pagina)" >delete</i>
                                <span class="editable-wrap editable-text ng-scope">
                                    <div class="editable-controls form-group" ng-class="{'has-error': $error}">
                                        <input type="text" name="nomeTopografo" ng-model="pagina.nome" class="editable-input form-control ng-pristine ng-valid ng-not-empty ng-touched" aria-invalid="false">

                                       
                                    </div>
                                </span>
                            </p>

    <page size="A4"  ng-click="editarPagina(pagina,$index)" >
		
       <div     style="margin-bottom: 37px; margin-left: 492px; width: 750px;">
            <img   src="/images/logo_pdf.png" />
        </div>
            <div  style="position: relative;
    top: 135px;" compile="preparaConteudo(pagina.conteudo)"></div>
 </page>
 	</div>

     

    <!--<div class="page" ng-repeat="pagina in paginas">
        <div ng-click="editarPagina(pagina,$index)" class="subpage">
            <div compile="preparaConteudo(pagina.conteudo)"></div>
		</div>    
    </div>-->
</div>

	</div>
</div>
</div>
</div>
<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Adicinar Componente</h4>
     <div class="row">
                        <div class="form-group col m2" id="sign-up-form">
                            <label ng-class="inputClass" for="nome" class="">Label</label>
                            <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched datetimepicker" id="dataInicial" name="componenteNome" ng-model="componenteNome" aria-invalid="false">
                        </div>

                      


                        <div class="form-group col m3" id="sign-up-form">
                            <label ng-class="inputClass" for="aterro">Componente</label>
                            <select class="browser-default active ng-pristine ng-invalid ng-invalid-required ng-touched ng-valid ng-not-empty ng-valid-required" id="ordenacao" required="" ng-model="componenteTipo" aria-invalid="true">

                                <option value="?" selected="selected"></option>
                                <option label="Grafico" value="grafico">Grafico</option>
                                <option label="Tabela" value="tabela">Tabela</option>
                            </select>
                        </div>
                          <div class="form-group col m3" id="sign-up-form">
                            <label ng-class="inputClass" for="aterro">Componente</label>
                            <select ng-show="(componenteTipo == 'tabela')" class="browser-default active ng-pristine ng-invalid ng-invalid-required ng-touched ng-valid ng-not-empty ng-valid-required" id="ordenacao" required="" ng-model="componenteTabela" aria-invalid="true">

                                <option value="?" selected="selected"></option>
                                <option label="Boskov" value="boskov">Boskov</option>
                          
                            </select>
                            <select ng-show="(componenteTipo == 'grafico')"  class="browser-default active ng-pristine ng-invalid ng-invalid-required ng-touched ng-valid ng-not-empty ng-valid-required" id="ordenacao" required="" ng-model="componenteGrafico" aria-invalid="true">

                                <option value="?" selected="selected"></option>
                                <option label="Marco Horizontal" value="marcohorizontal">Marco Horizontal</option>
                                <option label="Marco Vertical" value="marcovertical">Marco Vertical</option>
                            </select>
                        </div>


                          <div class="form-group col m2" id="sign-up-form">
                            <label ng-class="inputClass" for="nome" class="">Parametro</label>
                            <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched datetimepicker" id="dataFinal" name="monitoramentos.dataFinal" ng-model="componenteValor" aria-invalid="false">
                        </div>
     </div>

    </div>
    <div class="modal-footer">
      <button ng-click="addComponente()" class="modal-action modal-close waves-effect waves-green btn-flat ">Addcionar</button>
    </div>
  </div>
</div>

 <!-- Modal Structure -->
  
<style>

  all: initial;
  * {
    all: unset;
  }
	body {
  background: rgb(204,204,204); 
}
page[size="A4"] {
  
  background: white;
  width: 21cm;
  height: 29.7cm;
  display: block;
  margin: 0 auto;
  margin-left: 10px;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
@media print {
  body, page[size="A4"] {
    margin: 0;
    box-shadow: 0;
  }
}   
   
    
    @page {
        size: A4;
        margin: 0;
    }

            table {
                background: #fff;
                margin-bottom: 1.25rem;
                border: 1px solid #ddd;
                table-layout: fixed;
                width: 100%;
            }


            table tr:nth-of-type(even) {
                background: #f9f9f9;
            }

            th.estregreen {
                background-color: green !important;
                text-align: center;
                font-color: white !important;
                -webkit-print-color-adjust: exact;
            }

            tr.lightgreen {
                background-color: #9ACD32 !important;
                -webkit-print-color-adjust: exact;
            }

            tr.base {
                text-align: center;
                font-color: black !important;
                -webkit-print-color-adjust: exact;
                background-color: #f5f5f5 !important;
            }

            th.lightgreen {
                background-color: #9ACD32 !important;
                text-align: center;
                font-color: white !important;
                -webkit-print-color-adjust: exact;
                font-size: 7pt !important;
                font-family: arial;
                font-weight: normal !important;
            }

            th {
                font-size: 8pt !important;
                font-weight: normal !important;
            }

            table tr td {
                font-size: 7pt !important;
                font-weight: normal !important;
            }


            thead.estregray {
                background-color: #f5f5f5 !important;
                -webkit-print-color-adjust: exact;
            }

            tr.estregray {
                background-color: #f5f5f5 !important;
                -webkit-print-color-adjust: exact;
            }

            th.estreyellow {
                background-color: yellow !important;
                text-align: center;
                -webkit-print-color-adjust: exact;
                font-color: white !important;
            }

            th.estreorange {
                background-color: orange !important;
                text-align: center;
                -webkit-print-color-adjust: exact;
                font-color: white !important;
            }

            th.estrered {
                background-color: red !important;
                text-align: center;
                -webkit-print-color-adjust: exact;
                font-color: white !important;
            }

            th.estreblack {
                background-color: black !important;
                text-align: center;
                -webkit-print-color-adjust: exact;
                color: white !important;
            }
    @media print {

        
        html, body {
            width: 210mm;
            height: 297mm;        
        }
        .page {
            margin: 0;
            border: initial;
            border-radius: initial;
            width: initial;
            min-height: initial;
            box-shadow: initial;
            background: initial;
            page-break-after: always;
        }
    }
</style>




 