<div class="section">
  <div class="row section">
  <div class="divider"></div>
    <div class="row">
      <div class="col s12 m12">
      	<grid-view fields="[{'name': 'nome' , 'value': 'Nome', 'filter': 'true'},{'name': 'data' , 'value': 'Data', 'uiFilter': 'date'}, {'name': 'descricao' , 'value': 'Descrição'}  ]" listaname="Template"  label="Lista de Template"  autopage="true" adicionar="" add="false"  update='true' strupdate="false" strdelete="false" view="Template" pagesize="5"></grid-view>
      </div>
    </div>
  </div>
</div>
