<style>
    #marco-resumo table, #marco-resumo td, #marco-resumo tr, #marco-resumo th {
        font-size: 10px;
        border: solid 1px;
    }

    th {
        text-align: center;
    }
</style>

<div class="section" ng-controller="MarcoSuperficialImportacaoController">

    <div class="row section">
        <div class="divider"></div>
        <div class="row">

            <div class="col s6 m6 l6">
                <form editable-form="" name="editableForm" class="ng-pristine ng-scope ng-invalid ng-invalid-date">
                    <p>
                        <b>Aterro: </b>
                        <span class="editable-wrap editable-text ng-scope">
                            <div class="editable-controls form-group" ng-class="{'has-error': $error}">
                                <select class="browser-default active ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" id="aterro" required="" ng-model="inserted.aterro" ng-options="x.id as x.nome for x in aterros" aria-invalid="true"></select>
                                <div class="editable-error help-block ng-binding ng-hide" ng-show="$error" ng-bind="$error" aria-hidden="true"></div>
                            </div>
                        </span>
                    </p>
                </form>
            </div>

            <div class="col s6 m6 l6">
                <div class="container">
                    <div class="card-panel ng-scope">

                        <a class="btn-floating btn-large waves-effect waves-light" ng-click="uploadDetalhes()" title="Inclusão automática via arquivo"><i class="mdi-file-cloud-upload"></i></a>

                        <div id="modalUpload" class="modal modal-fixed-footer">

                            <div class="modal-content">
                                <input type="file" class="dropify" data-height="300" on-read-file="extractFileContent($fileContent)" />
                                <div ng-if="content">
                                    <h2>Marcos processado no arquivo:</h2>

                                    <table class='striped'>
                                        <thead>
                                            <tr>
                                                <th class='text-center ng-binding ng-scope'>Marco Superficial</th>
                                                <th class='text-center ng-binding ng-scope'>Norte</th>
                                                <th class='text-center ng-binding ng-scope'>Leste</th>
                                                <th class='text-center ng-binding ng-scope'>Cota</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr ng-repeat='medicao in medicoesProcessadas'>
                                                <td class="ng-scope">{{medicao.nome}}</td>
                                                <td class="ng-scope">{{medicao.norte}}</td>
                                                <td class="ng-scope">{{medicao.leste}}</td>
                                                <td class="ng-scope">{{medicao.cota}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div id="modalLoading" class="modal modal-fixed-footer">
                <p style="text-align:center">Aguarde, ainda trabalhando...</p>
                <div class="progress">
                    <div class="indeterminate"></div>
                </div>

                <p ng-model="statusImportacao" style="text-align:center;color:red"></p>

            </div>

        </div>
    </div>
</div>	