<div class="section">
 <div class="row section">
  <div class="divider"></div>
    <div class="row">
      <div class="col s12 m12 l6">

        <div class="card-panel ng-scope">
          <h4 class="header2">Monitoramentos</h4>

          <div class="row">
            <div class="form-group col m3" id="sign-up-form">
              <label ng-class="inputClass" for="aterro">Marco Superficial</label>
              <select class="browser-default active ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" id="marcoSuperficial" required="" ng-model="monitoramentos.marcoSuperficial" ng-options="x.id as x.nome for x in monitoramentos.marcosSuperficiais" aria-invalid="true">
                <option value="?" selected="selected"></option>
              </select>
            </div>  

            <div class="form-group col m2" id="sign-up-form">
              <label ng-class="inputClass" for="nome" class="">Data Inicial</label>
              <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" id="dataInicial" ng-model="monitoramentos.dataInicial | date : 'dd/MM/yyyy'" aria-invalid="false">
            </div>

            <div class="form-group col m2" id="sign-up-form">
              <label ng-class="inputClass" for="nome" class="">Data Final</label>
              <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" id="dataFinal" ng-model="monitoramentos.dataFinal | date : 'dd/MM/yyyy'" aria-invalid="false">
            </div>

            <div class="right col s1" aria-hidden="false">
              <a ng-click="monitoramentos.pesquisar()" class="btn-floating btn-small waves-effect waves-light">
              <i class="mdi-action-search"></i></a>
            </div>
          </div>


          <div class="row">
              <table class="table table-bordered table-hover table-condensed">
                <tbody>
                  <tr style="font-weight: bold">
                    <td>Marco</td>
                    <td>Data</td>
                    <td>Altura</td>
                    <td>Comprimento</td>
                    <td>Tipo Estaca</td>
                    <td>Usuário Criador</td>
                    <td>Aterro</td>
                    <td>Ações</td>
                  </tr>

                  <tr ng-repeat="monitoramento in monitoramentos.pesquisa" class="ng-scope">
                    <td>
                      <span class="ng-scope ng-binding">
                      {{monitoramento.marcoSuperficial}}
                      </span>
                    </td>

                  </tr>
                </tbody>
              </table>          
          </div>
        </div>



      </div>
    </div>
  </div>
</div>




