
<div class="section">
 <div class="row section">
  <div class="divider"></div>
    <div class="row">
      <div class="col s12 m12 l6">
       <grid-view fields="[{'name': 'name', 'value': 'Name' },{'name': 'admin', 'value': 'Administrador'} ]" add="false" update="true" delete="false" listaname="Usuario" adicionar="#" view="usuario" pagesize="10"></grid-view>
      </div>
      <div class="col s12 m12 l6">
      	<form-view fields="[{'name': 'name', 'value': 'Nome'}, {'name': 'admin' , 'value': 'Administrador', 'type': 'checkbox' }]" label="Lista de Usuario" listaname="Usuario"  strupdate="false"></form-view>
    	</div>
    </div>
  </div>
</div>


<div class="container">
<section  >
    <div class="form-group">
        <div class="row">
            <div class="col-md-10 col-centered">
               
            </div>
        </div> 
      
    </div>
</section>
</div>
