
<div class="section">
 <div class="row section">
  <div class="divider"></div>

  <div class="row">
    <div class="col s12 m12 l6">
      <grid-view fields="[{'name': 'name', 'value': 'Nome', 'filter': 'true' },{'name': 'perfil', 'value': 'Perfil'},{'name': 'habilitado' , 'value': 'Habilitado'} ]" listaname="usuario" autopage="true"  label="Lista de Usuário"  adicionar="" add="false" view="usuario" pagesize="5" update="true" strdelete="true"></grid-view>
    </div>
    <div class="col s12 m12 l6">
      <form-view fields="[{'name': 'name', 'value': 'Nome'}, {'name': 'perfil' , 'value': 'Perfis', 'type': 'combobox', 'text': 'perfil', 'api': 'Perfil', 'model': 'perfis',  'fieldid': 'id', 'fieldname': 'name' }, {'name': 'habilitado' , 'value': 'Habilitado', 'type': 'checkbox' }]" label="Formulário de Usuário" listaname="usuario"  strupdate="false"></form-view>
    </div>
  </div>
</div>