<div class="section">
    <div class="row section">
        <div class="divider"></div>
        <div class="row">
            <div class="col s12 m12 l6">
                <grid-view fields="[{'name': 'nome' , 'value': 'Nome', 'filter': 'true'}, {'name': 'dataInstalacao', 'value': 'Data de Instalação', 'type':'date'},{'name': 'aterro' , 'value': 'Aterro', 'sub':'nome', 'type': 'combobox', 'combo':'true', 'text': 'aterro', 'api': 'Aterro', 'model': 'aterros',  'fieldid': 'id', 'fieldname': 'nome'},{'name': 'habilitado' , 'value': 'Habilitado'}, {'name': 'createdAt', 'value': 'Data Criação', 'type':'date'}, {'name':'usuario', 'value':'Criado por', 'sub': 'name'}]" listaname="MarcoSuperficial" autopage="true" label="Lista de Marco Superficial e Inclinômetro" adicionar="" add="false" view="MarcoSuperficial" pagesize="5" strupdate="true"></grid-view>
            </div>
            <div class="col s12 m12 l6">

                <form-view fields="[{'name': 'nome', 'value': 'Nome'}, {'name': 'norte', 'value': 'Coordenadas Norte','uiMask': 'ui-number-mask=4'}, {'name': 'leste', 'value': 'Coordenadas Leste','uiMask': 'ui-number-mask=4'}, {'name': 'cota', 'value': 'Coordenadas Cota','uiMask': 'ui-number-mask=4'}, {'name': 'dataInstalacao', 'value': 'Data de Instalação', 'uiMask': 'ui-date-mask', 'type':'datepicker'}, {'name': 'aterro' , 'value': 'Aterro', 'type': 'combobox', 'text': 'aterro', 'api': 'Aterro', 'model': 'aterros',  'fieldid': 'id', 'fieldname': 'nome' }, {'name': 'habilitado' , 'value': 'Habilitado', 'type': 'checkbox' }, {'name':'usuario', 'type': 'usuario'}]" updateperfil="[{ 'perfil': 'Administrador'}, { 'perfil': 'Diretor'}]" adicionarperfil="[{ 'perfil': 'Administrador'}, { 'perfil': 'Gerente'},{ 'perfil': 'Operacional'},  { 'perfil': 'Diretor'}]" label="Lista de Marco Superficial e Inclinômetro" listaname="MarcoSuperficial"></form-view>

            </div>
        </div>
    </div>
</div>

