<div class="section">
 <div class="row section">
  <div class="divider"></div>
    <div class="row">
      <div class="col s12 m12 l6">
      	<grid-view fields="[{'name': 'nome' , 'value': 'Nome', 'filter': 'true'}, {'name': 'dataInstalacao', 'value': 'Data de Instalação', 'uiFilter': 'date'},{'name': 'habilitado' , 'value': 'Habilitado'}]" listaname="MarcoSuperficial" autopage="true"  label="Lista de Marco Superficial e Inclinômetro" adicionar="" add="false" view="MarcoSuperficial" pagesize="5" strupdate="true"></grid-view>
      </div>
      <div class="col s12 m12 l6">
      	<form-view fields="[{'name': 'nome', 'value': 'Nome'}, {'name': 'norte', 'value': 'Coordenadas Norte','uiMask': 'ui-number-mask=1'}, {'name': 'cota', 'value': 'Coordenadas Cota','uiMask': 'ui-number-mask=1'}, {'name': 'este', 'value': 'Coordenadas Este','uiMask': 'ui-number-mask=1'}, {'name': 'dataInstalacao', 'value': 'Data de Instalação', 'uiMask': 'ui-date-mask'}, {'name': 'aterro' , 'value': 'Aterro', 'type': 'combobox', 'text': 'aterro', 'api': 'Aterro', 'model': 'aterros',  'fieldid': 'id', 'fieldname': 'nome' }, {'name': 'habilitado' , 'value': 'Habilitado', 'type': 'checkbox' }]" label="Lista de Marco Superficial e Inclinômetro" listaname="MarcoSuperficial"  ></form-view>
    	</div>
    </div>
  </div>
</div>


<!-- ,{'name': 'norte', 'value': 'Coordenadas Norte', 'uiFilter': 'number'}, {'name': 'cota', 'value': 'Coordenadas Cota', 'uiFilter': 'number'}, {'name': 'este', 'value': 'Coordenadas Este', 'uiFilter': 'number'}, -->

