<div class="section">
 <div class="row section">
  <div class="divider"></div>
    <div class="row">
      <div class="col s12 m12 l6">
      	<grid-view fields="[{'name': 'nome' , 'value': 'Nome', 'filter': 'true'},{'name': 'coordenadasNorte', 'value': 'Coordenadas Norte'}, {'name': 'coordenadasCota', 'value': 'Coordenadas Cota'}, {'name': 'coordenadasEste', 'value': 'Coordenadas Este'}, {'name': 'dataInstalacao', 'value': 'Data de Instalação'},{'name': 'habilitado' , 'value': 'Habilitado'}]" listaname="MarcoSuperficial" autopage="true"  label="Lista de Marco Superficial e Inclinômetro" adicionar="" add="false" view="MarcoSuperficial" pagesize="5"></grid-view>
      </div>
      <div class="col s12 m12 l6">
      	<form-view fields="[{'name': 'nome', 'value': 'Nome'}, {'name': 'coordenadasNorte', 'value': 'Coordenadas Norte'}, {'name': 'coordenadasCota', 'value': 'Coordenadas Cota'}, {'name': 'coordenadasEste', 'value': 'Coordenadas Este'}, {'name': 'dataInstalacao', 'value': 'Data de Instalação'}, {'name': 'habilitado' , 'value': 'Habilitado', 'type': 'checkbox' }]" label="Lista de Marco Superficial e Inclinômetro" listaname="MarcoSuperficial"  strupdate="false"></form-view>
    	</div>
    </div>
  </div>
</div>




